#titlePaneCarousel {
  display: flex; 
  flex-wrap: wrap;
}

#titlePaneCarousel span {
  flex-shrink: 0;
  color: gray;
}

#titlePaneCarousel .carousel-inner {
  width: 11em;
  color: red;
  flex-shrink: 0;
  padding-left: .3em;
}