.carousel-item {
  height: 25em;
}

.carousel-item .highlight {
  width: 100%;
  height: 100%;
  padding: 2em;
}

@media (min-width: 768px) {
	.carousel-item .highlight {
	  padding-left: 5em;
	  padding-right: 5em;
	}
}
