---
layout: default
title: C++ JSON library for IoT
tags: home no-ad
platforms:
 - Arduino UNO
 - Arduino Leonardo
 - Arduino Mini
 - Arduino Micro
 - Arduino Mega
 - Arduino Zero
 - Arduino Due
 - Arduino Y&uacute;n
 - Arduino M0
 - Arduino MKRZero
 - Arduino MKR1000
 - ESP8266
 - ESP32
 - Teensy
 - Intel Galileo
 - Intel Edison
 - PlatformIO
 - Energia
 - MSP430
 - RedBearLab BLE Nano
 - RedBearLab BLE Mini
---

<div class="container">

<div id="titlePane" class="jumbotron">
<h1 class="display-1">ArduinoJson</h1>
<div id="titlePaneCarousel" class="carousel slide display-4" data-ride="carousel" data-interval="500">
  <span>A JSON library for</span>
  <ul class="carousel-inner" role="listbox">
  {% for platform in page.platforms %}
    <li class="carousel-item{%if forloop.index==1%} active{%endif%}">{{platform}}</li>
   {% endfor %}
  </ul>
</div>
</div>

<h2 class="display-3">Features</h2>
<div class="row">
{% assign features = site.features | sort: 'popularity' | reverse %}
{% for feature in features %}
<div class="col-12 col-lg-6 p-2">
	<div class="card m-4">
	  <div class="card-block">
	    <h4 class="card-title">{{ feature.title }}</h4>
	    <p class="card-text">
	  		{{ feature.output }}
	  	</p>
	  </div>
	</div>
</div>
{% endfor %}
</div>

</div>