<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ArduinoJson - {{ page.title | strip_html }}</title>
    <meta name="description" content="ArduinoJson is a simple a efficient C++ JSON library for embedded system.">
    <meta name="keywords" content="JSON,C++,Arduino,IoT,embedded">
    {% include bootstrap.css.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/default.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/home.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css">
</head>
<body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsArduinoJson" aria-controls="navbarsArduinoJson" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="collapse navbar-collapse" id="navbarsArduinoJson">
        <ul class="navbar-nav mr-auto">
        {% for section in site.data.sections %}
        {% if page.tags contains section.tag %}<li class="nav-item active">
        {% else %}<li class="nav-item">
        {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}{{ section.url }}">{{ section.name }}</a>
            </li>
        {% endfor %}
        <li class="nav-item hidden-md-up">
            <a class="nav-link" href="https://github.com/bblanchon/ArduinoJson/">GitHub</a>
        </li>
      </ul>
  </div>

</nav>

{{content}}

<a href="https://github.com/bblanchon/ArduinoJson/">
<img class="hidden-sm-down" style="position: absolute; top: 0; right: 0; border: 0;" src="{{ site.baseurl }}/images/forkme_right.png" alt="Fork me on GitHub">
</a>
{% include bootstrap.js.html %}

{% include analytics.html %}
</body>
</html>
