---
layout: default
---

<div class="container">
	<div class="jumbotron">
		<h1>ArduinoJson: User Manual</h1>
		<h2>{{ page.title }}</h2>
	</div>
	<div class="row">
		<div class="col-md-9">
			{{ content }}
		</div>
		<div class="col-md-3">
			{% include ad_responsive.html %}
		</div>
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ site.baseurl }}/doc/">Manual</a></li>
		<li class="breadcrumb-item active">{{ page.title }}</li>
	</ol>
</div>
